<form method="post" action="{{ path('app_juegos_delete', {'id': juego.id}) }}" onsubmit="return confirm('Seguro que quieres eliminar el juego?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ juego.id) }}">
    <button class="btn btn-danger m-1">Eliminar</button>
</form>
