{% extends 'base.html.twig' %}

{% block title %}New Juegos{% endblock %}

{% block body %}
    <div class="container">
        <div class="row a" >
            <h1>Agregar nuevo Juego</h1>
        <div class="col-10 col-sm-6">
            {{ include('juegos/_form.html.twig') }}
            <a class="btn btn-warning m-3" href="{{ path('app_juegos_index') }}">Volver a la lista</a>
        </div>
        
    </div>
    </div>
{% endblock %}
